<div class="row" id="profile">
	<div class="col-lg-10 col-lg-offset-1">
		<div class="row">
			<div class="col-sm-4">
				<%= image_tag @user.avatar.url(:medium), class: "img-responsive avatar img-rounded" %>
				<hr>
				<div class="user-info">
					<h4><%= @user.name %></h4>
					<h5 class="text-muted"><%= icon('clock-o') %> Joined on <%= @user.created_at.to_date.to_formatted_s(:long_ordinal) %></h5>
				</div>
				<div class="posts-cities">
					<div class="user-posts">
	          <strong class="post-counts"><%= @user.posts.count %></strong>
	          <span class="text-muted">Posts</span>
	        </div>
	        <div class="user-cities">
	          <strong class="city-counts"><%= @user.posts.map{|t| t.city_id}.uniq.count %></strong>
	          <span class="text-muted">Cities</span>
	        </div>
	      </div>
	      <div class="user-edit-delete">
		      <%= link_to edit_user_path(@user), class: "btn btn-success" do %>
		      	<%= icon('pencil') %> Edit Profile
		      <% end %>
					 <%= link_to @user, method: :delete, data: {confirm: "Are You Sure?"}, class: "btn btn-danger" do %>
					 	<%= icon('trash-o') %> Delete Profile
		      <% end %>
		    </div>
			</div>
			<div class="col-sm-8">

				<ul class="nav nav-tabs">
			    <li class="active"><a data-toggle="tab" href="#posts">POSTS</a></li>
			    <li><a data-toggle="tab" href="#cities">CITIES VISITED</a></li>
			  </ul>

			  <div class="tab-content">
			    <div id="posts" class="tab-pane fade in active">
			      <% if @user.posts.any? %>
							<% @posts.each do |post| %>
								<h3><%= link_to post.title.titleize, post_path(post) %></h3>
								<h5><i>Posted <%= time_ago_in_words(post.created_at) %> ago</i></h5>
								<h4 class="text-muted"><%= truncate post.description, length: 1000 %></h4>
							<% end %>
						<% else %>
							<% if current_user == @user %>
								<h4>You don't have any post yet.</h4>
							<% else %>
								<h4>This user doesn't have any post yet.</h4>
							<% end %>
						<% end %>

						<div class="pagination_holder text-center">
							<%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
						</div>
			    </div>
			    <div id="cities" class="tab-pane fade">
			      <% @user.posts.map{|t| t.city_id}.uniq.each do |id| %>
			      	<h3><%= link_to City.find_by_id(id).name, city_path(City.find_by_id(id).slug) %> (<%= @user.posts.where(city_id: id).count %> posts)</h3>
			      	<% @user.posts.order("created_at DESC").where(city_id: id).each do |post| %>
			      		<li><h5><%= link_to post.title.titleize, post_path(post) %></h5></li>
			      	<% end %>
			      <% end %>
			    </div>
			  </div>				
			</div>
		</div>
	</div>
</div>
