<% if current_user == @user %>
 <h2>Hello, <%= @user.name %></h2>
 <h3>Email: <%= @user.email %></h3>

 <%= image_tag @user.avatar.url(:medium) %><br>

 <%= link_to 'Edit', edit_user_path(@user), class: "btn btn-primary" %>
 <%= link_to 'Delete', @user, method: :delete, data: {confirm: "Are You Sure?"}, class: "btn btn-primary" %>
 <%= link_to 'Home', root_path, class: "btn btn-default" %>
<% else %>
	<h2><%= @user.name %></h2><br>
	<%= image_tag @user.avatar.url(:medium) %>
	<h3>Email: <%= @user.email %></h3>
	<%= link_to 'Home', root_path, class: "btn btn-default" %>
<% end %>
<hr>
<% if @user.posts.any? %>
	<% @posts.each do |post| %>
		<h3><%= link_to post.title, post_path(post) %></h3>
		<h4><%= simple_format post.description %></h4>
	<% end %>
<% else %>
	<% if current_user == @user %>
		<h4>You don't have any post yet.</h4>
	<% else %>
		<h4>This user doesn't have any post yet.</h4>
	<% end %>
<% end %>

<div class="pagination_holder text-center">
	<%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
</div>