<h2><%= @post.title %></h2>
<%= image_tag @post.photo.url(:large) %><br>
<h4><%= simple_format @post.description %></h4>
<% if current_user %>
	<%= link_to "Edit", edit_post_path(@post), class: "btn btn-primary" %>
	<%= link_to "Delete", @post, method: :delete, data: {confirm: "Are You Sure?"} , class: "btn btn-primary" %>
	<%= link_to "Go to " + City.find_by_id(@post.city_id).name, city_path(City.find_by_id(@post.city_id).slug), class: "btn btn-default" %>
<% else %>
<% end %>

