<!DOCTYPE html>
<html>
<head>
  <title>ProjectVagabond</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href='https://api.mapbox.com/mapbox.js/v2.2.3/mapbox.css' rel='stylesheet'/>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src='https://api.mapbox.com/mapbox.js/v2.2.3/mapbox.js'></script>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- navbar -->

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Project Vagabond</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Cities <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><%= link_to "All Cities", posts_path %></li>
          <% City.all.each do |city| %>
            <li><%= link_to city.name, posts_path(city: city.name) %></li>
          <% end %>
        </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "Add Post", new_post_path %></li>
			<% if current_user %>
				<li><%= link_to "Profile", user_path(current_user) %></li>
				<li><%= link_to "Logout", logout_path %></li>
			<% else %>
	      <li><%= link_to "Signup", new_user_path %></li>
	      <li><%= link_to "Login", login_path %></li>
      <% end %>
    </ul>
  </div>
</nav>


<!-- error message -->
<% flash.each do |name, msg| %>
  <div class="alert <%= name == 'error' ? 'alert-danger' : 'alert-info' %>">
    <div class="container">
      <%= msg %>
    </div>
  </div>
<% end %>

<%= yield %>

</body>
</html>
