<!DOCTYPE html>
<html>
  <head>
    <title>ProjectVagabond</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link href='https://api.mapbox.com/mapbox.js/v2.2.3/mapbox.css' rel='stylesheet'/>
    <%= javascript_include_tag 'application' %>
    <script src='https://api.mapbox.com/mapbox.js/v2.2.3/mapbox.js'></script>
    <%= csrf_meta_tags %>
  </head>
  <body>
  <!-- navbar -->
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <%= image_tag "ProjectVagabond.png", class: "logo pull-left" %>
        <%= link_to "MONARCH", root_path, class: "navbar-brand" %>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Add Post", new_post_path, class: "nav-links" %></li>
        <% if current_user %>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><%= current_user.name %> <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to "Your Profile", user_path(current_user.slug), class: "nav-links" %></li>
            <li><%= link_to "Edit Profile", edit_user_path(current_user.slug), class: "nav-links" %></a></li>
            <li><%= link_to "Logout", logout_path, class: "nav-links" %></li>
          </ul>
        </li>
        <% else %>
        <li><%= link_to "Signup", new_user_path, class: "nav-links" %></li>
        <li><%= link_to "Login", login_path, class: "nav-links" %></li>
        <% end %>
      </ul>
    </div>
  </nav>
  <!-- error message -->
  <% flash.each do |name, msg| %>
    <div class="alert <%= name == 'error' ? 'alert-danger' : 'alert-info' %>">
      <div class="container">
        <%= msg %>
      </div>
    </div>
  <% end %>
  <%= yield %>

<%= javascript_include_tag 'application' %>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src='https://api.mapbox.com/mapbox.js/v2.2.3/mapbox.js'></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
</body>
</html>