<!DOCTYPE html>
<html>
<head>
  <title>ProjectVagabond</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- error message -->
<% flash.each do |name, msg| %>
  <div class="alert <%= name == 'error' ? 'alert-danger' : 'alert-info' %>">
    <div class="container">
      <%= msg %>
    </div>
  </div>
<% end %>

<%= yield %>

</body>
</html>
